<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{documentationName}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content="Description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/docsify@4/themes/vue.css">
</head>
<body>
    <div id="app"></div>
    <script>
        var docRootPath = '{docRoothPath->f:format.htmlentitiesDecode()}';
        var documentationName = '{documentationName}';
        window.$docsify = {
            name: documentationName,
            basePath: docRootPath,
            relativePath: true,
        }
    </script>
    <script src="//cdn.jsdelivr.net/npm/docsify@4"></script>
</body>

<f:comment>
<!--    @TBD get path of docsify  and css-->
    <!--    <script src="//cdn.jsdelivr.net/npm/docsify@4"></script>-->
    <!--    <script src="{path}docsify_4.js"></script>-->
</f:comment>

</html>
