/*general*/
body,
table {
    font-size: 0.875rem;
}
/*Header*/
h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.125rem;
}

h4 {
    font-size: 1rem;
}

.table>tbody>tr.row-light>td {
    color: lightgrey;
}

.table>tbody>tr>td.cell-light {
    color: lightgrey;
}

.table>tbody>tr>td.cell-highlight {
    color: red;
}

.bg-table-page {
    --bs-bg-opacity: 0.2;
    background-color: rgba(var(--bs-info-rgb),var(--bs-bg-opacity)) !important;
}