/*general*/
body,
table {
    font-size: 0.875rem;
}
/*Header*/
h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.125rem;
}

h4 {
    font-size: 1rem;
}

.table>tbody>tr.row-light>td {
    color: dimgrey;
}

.table>tbody>tr>td.cell-light {
    color: dimgrey;
}

.table>tbody>tr>td.cell-highlight {
    --bs-bg-opacity: 0.2;
    background-color: rgba(var(--bs-danger-rgb),var(--bs-bg-opacity)) !important;
}

.bg-table-page {
    --bs-bg-opacity: 0.2;
    background-color: rgba(var(--bs-info-rgb),var(--bs-bg-opacity)) !important;
}

/*Accordion*/
.accordion {
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: darkgrey;
}

.panel {
    background-color: white;
    display: none;
}

.accordion:after {
    content: '\02795';
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
}
